/*--------------------------------------------------------------
 Layout
 --------------------------------------------------------------*/
/*
 * #container
 *   #header
 *     #navbar
 *   #page
 *     #content
 *     #sidebar
 *   #footer
 */

body {
	text-align: center;
	margin: 0;
	background-color: #ffffff;
	font: normal 14px "droid-sans-1","droid-sans-2", clean, sans-serif;
	*font-size: small;
}

/*--------------------------------------------------------------
 Site defaults
 --------------------------------------------------------------*/

h1 {
	font-size: 1.4em;
}

h2 {
	font-size: 1.0em;
}

p {
	margin: 1em 0;
}

a {
	color: #00a;
	text-decoration: none;
	font: normal;
}

a:hover {
	color: #000000;
	font: bold;
}

a:visited {
	color: #a0a;
	font: normal;
}

table {
	font-size: inherit;
	font: 100%;
}

ul {
	list-style-type: circle;
	margin-bottom: 2em;
}

ul li {
	line-height: 1.75em;
}

ul span {
	color: #aaa;
	font-family: Menlo, Monaco, Consolas, monospace;
	font-size: 0.8em;
}


/*--------------------------------------------------------------
 Container
 --------------------------------------------------------------*/

#container {
	font-size: 1.1em;
	text-align: left;
/*	width: 60em;*/
	width: 800px;
	margin: 3em auto 2em auto;
	line-height: 1.5em;
}

/*--------------------------------------------------------------
 Header
 --------------------------------------------------------------*/

#header {
	padding: 1em 0em 2em 0em;
	border-bottom: 2px solid #eee;
}

#header a:link,
#header a:visited {
	color: #aaa;
	margin-left: 0.2em;
}

#header a.site {
	color: #a00;
	font-weight: bold;
}

#header .site {
	float: left;
/*	padding-right: 1.5em;*/
	
}

#header .summary {
	font-size: 0.8em;
	text-align: left;
	width: 60%;
	margin: 1em auto 2em 0em;
	line-height: 1.5em;
	color: darkgrey;
}

/*--------------------------------------------------------------
 Navbar
 --------------------------------------------------------------*/
#navbar {
	float: right;
}


/*--------------------------------------------------------------
 Page
 --------------------------------------------------------------*/

#page {}


/*--------------------------------------------------------------
 Content
 --------------------------------------------------------------*/

#content {
	float: left;
	width: 80%;
	padding: 2em 0.5em; 
}

/*--------------------------------------------------------------
 Sidebar
 --------------------------------------------------------------*/

#sidebar {
	float: right;
	text-align: left;
	width: 180px;
	padding-left: 15px; 
	border-left: 1px solid #ddd;
} 

/*--------------------------------------------------------------
 Footer
 --------------------------------------------------------------*/

#footer {
	font-size: 0.9em;
	color: #666;
	border-top: 2px solid #eee;
	overflow: hidden;
	clear: both;
	text-align: left;
	padding: 0.5em 0.5em;
	margin: 0em;
}

#footer a {
	color: #8085C1;
}

#footer #leftcol {
	float: left;
}

#footer #rightcol {
	float: right;
}

#footer img {
	border: 0;
}

#footer #copyright {
	clear: left;
	font-size: 0.8em;
	color: #666;
	text-align: left;
	margin-top: 2.5em;
	padding-top: 1.0em;
}

#footer #copyright a {
	color: #666;
}

/*--------------------------------------------------------------
 Posts
 --------------------------------------------------------------*/

.post {
	padding: 1.5em 0em 2.0em 0em;
	margin-bottom: 2.0em;
	border-bottom: 1px solid #ddd;
}

.post .title {
	font-size: 1.5em;
	margin-bottom: 1.4em;
	font-weight: bold;
}

.post .subtitle {
	font-size: 1.1em;
	margin-bottom: 1.4em;
}
.post .date {
	color: #aaa;
	font-size: 0.8em;	
}

.post pre {
	border: 1px solid #ddd;
	background-color: #eef;
	padding: 0 0.4em;
}

.post ul,
.post ol {
	margin-left: 1.0em;
}

.post code {
	border: 1px solid #ddd;
	background-color: #eef; 
	font-size: 0.9em;
	font-family: Menlo, Monaco, Consolas, monospace;
	padding: 0 .2em;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.post pre code {
	border: none;
}

.post pre.terminal {
	border: 1px solid black;
	background-color: #333;
	color: white;
}

.post pre.terminal code {
	background-color: #333;
}

.post .summary {
	font-size: 0.8em;
	margin-bottom: 2em;
	padding: 0.1em 0em 2em 0em;
}

.post h1 {
	padding-top: 1.0em;
}

.post h2 {
	padding-top: 0.5em;
}

.post h3 {
	padding-top: 0.5em;
}

.post h4 {
	padding-top: 0.5em;
}

.post h5 {
	padding-top: 0.5em;
}

.related {
	margin-top: 2em;
}

.related h2 {
	margin-bottom: 1em;
}

