<!-- Nothing here right now -->
<!--<p style="float: right"><a href="{{ site.url }}">novemberkilo.com</a></p>-->
  <p style="float: right">
		<a href="atom.xml"><img src="/images/feed-icon-14x14.png" alt="Subscribe to RSS Feed" title="novemberkilo.com/atom.xml" /></a>
		<a href="http://www.twitter.com/novemberkilo"><img src="/images/twitter.png" alt="@novemberkilo" title="@novemberkilo" /></a>
		<a href="http://github.com/novemberkilo/"><img src="/images/github.png" alt="github.com/novemberkilo" title="github.com/novemberkilo" /></a>
		<a href="http://flickr.com/photos/navink/"><img src="/images/flickr.png" alt="flickr.com/photos/navink" title="flickr.com/photos/novemberkilo" /></a>
	</p>
